/MAIN/.vs
/MAIN/__vm
/MAIN/MAIN.sln
/MAIN/MAIN.vcxproj
/MAIN/MAIN.vcxproj.filters
/MAIN/Debug
/DOC/Схемы модуля/UROV_Base4_1R.pdsprj.DECIMA.moseichuk.workspace
/DOC/Схемы модуля/UROV_display_ LGDP4524_1R.pdsprj.DECIMA.moseichuk.workspace
/DOC/Схемы модуля/UROV_4_2R.pdsprj.DECIMA.moseichuk.workspace
/MAIN/libraries/DueTimer
/MAIN/libraries/OneWire
/MAIN/libraries/SdFat
/MAIN/libraries/SdFatTestSuite
/MAIN/libraries
/DOC/Схемы модуля/UROV_4_2R.pdsprj.SUPER.Александр.workspace
/DOC/Схемы модуля/UROV_display_ LGDP4524_1R.pdsprj.SUPER.Александр.workspace
/DOC/Схемы модуля/Backup Of UROV_4_2R.pdsbak
/DOC/~$ на март.docx
/MeandrSAMD21G18A/.vs
/MeandrSAMD21G18A/__vm
/MeandrSAMD21G18A/Debug
/MeandrSAMD21G18A/MeandrSAMD21G18A.sln
/MeandrSAMD21G18A/MeandrSAMD21G18A.vcxproj
/MeandrSAMD21G18A/MeandrSAMD21G18A.vcxproj.filters

*.pdb

/LOGS
/MAIN
/MeandrSAMD21G18A
/MeandrSAMD21G18A_LoRa_Receiver
/SOFT
/Test_Interrupt
/UROV19_02
/DOC/Схемы формирователя сигналов
/DOC/LoRaSenderTestDima.ino
/DOC/Thumbs.db
/DOC/UROV_4_1.PDF
/DOC/UROV_display_ LGDP4524_1.PDF
/DOC/Лог 21_03_18.txt
/DOC/Пример клавиатуры.txt
/DOC/Программа по прерыванию.txt
/DOC/Список поддерживаемых команд.doc
/DOC/Структура меню УРОВ.txt
/DOC/Тестер SAMD21G18A.png
/DOC/ТЗ  на программное обеспечение  УРОВ.doc
/DOC/ТЗ на март.docx
/DOC/УРОВ верх.png
/DOC/УРОВ низ.png
/DOC/Перечень работ по программированию УРОВ.doc
/DOC/Схемы модуля/UROV_4_2R.pdsprj
/DOC/Схемы модуля/UROV_display_ LGDP4524_1R.pdsprj
/RTC_Test
/TestLed
/TestSerial
/RTC_Test
/TestLed
/TestSerial
/DOC/STM32.pdf
/DOC/STM32F103-master.zip
/DOC/Vcc-gnd.com-STM32F103ZET6mini-schematic.pdf
/DOC/Назначение выводов УРОВ SAM3X8E.xls
/DOC/Отладочная плата с микроконтроллером STM32F103VCT6.html
/DOC/STM32F103-master
/DOC/Отладочная плата с микроконтроллером STM32F103VCT6_files
/DOC/board.txt
/DOC/k9f5608u0d-p.pdf
/DOC/program.ico
/Proteus/Power2500_02.pdsprj
/Proteus/Backup Of Power2500_02.pdsbak
/Proteus/Power2500_05_3.pdsprj
/Proteus/Power2500_05_3.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_05_3.pdsprj.SUPER.Александр.workspace
/Proteus/Power2500_05R.DO
/Proteus/Power2500_05R.EDF
/Proteus/Power2500_05R.log
/Proteus/Power2500_05R.pdsprj
/Proteus/Power2500_05R.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_05R.sts
/Proteus/Power2500_05.pdsprj
/Proteus/Power2500_05.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_05.pdsprj.SUPER.Александр.workspace
/Proteus/Power2500_03New.pdsprj
/Proteus/Power2500_03New.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Backup Of Power2500_05.pdsbak
/Proteus/Backup Of Power2500_05_1.pdsbak
/Proteus/Backup Of Power2500_05_1R.pdsbak
/Proteus/Backup Of Power2500_05_2.pdsbak
/Proteus/Backup Of Power2500_05_All.pdsbak
/Proteus/Backup Of Power2500_05R.pdsbak
/Proteus/Backup Of Power2500_STM_01.pdsbak
/Proteus/Last Loaded Power2500_05.pdsbak
/Proteus/Last Loaded Power2500_05_1.pdsbak
/Proteus/Last Loaded Power2500_05_1.pdsprj
/Proteus/Last Loaded Power2500_05_1R.pdsbak
/Proteus/Last Loaded Power2500_05_2.pdsbak
/DOC/4174157_p1c8t7.pdf
/DOC/4174157_p9u2h4.pdf
/DOC/4174157_z1e4j8.pdf
/DOC/4229472_g0e6h5.pdf
/DOC/4229472_r2f4s0.pdf
/DOC/BZX84 Стабилитрон.pdf
/DOC/IR2010.pdf
/DOC/IR2184.pdf
/DOC/ir21531.pdf
/DOC/irs21867spbf.pdf
/DOC/l6390.pdf
/DOC/L6390D.pdf
/DOC/oz9938_140.pdf
/DOC/Источник питания
/DOC/4174157_p1c8t7.pdf
/DOC/4174157_p9u2h4.pdf
/DOC/4174157_z1e4j8.pdf
/DOC/4229472_g0e6h5.pdf
/DOC/4229472_r2f4s0.pdf
/DOC/BZX84 Стабилитрон.pdf
/DOC/IR2010.pdf
/DOC/IR2184.pdf
/DOC/ir21531.pdf
/DOC/irs21867spbf.pdf
/DOC/l6390.pdf
/DOC/L6390D.pdf
/DOC/oz9938_140.pdf
/DOC/Prsetstab4000xxxx.jpg
/DOC/pvt412.pdf
/DOC/st_stgap2s.pdf
/DOC/stgap2s.pdf
/DOC/STW55NM60ND.pdf
/DOC/VRB_MP-8W.pdf.pdf
/DOC/wra_wrb_cs-3w.pdf
/DOC/высоковольтные драйверы.pdf
/DOC/Схемы включения L630D.pdf
/DOC/Схемы Шевкопляс.pdf
/Proteus/Power2500_01
/Proteus/Power2500_05_All
/Proteus/Power2500_05_Mini
/Proteus/Backup Of Power2500_05_1R.pdsbak
/Proteus/Backup Of Power2500_05_Mini.pdsbak
/Proteus/Backup Of Power2500_05_MiniR.pdsbak
/Proteus/bestsave.rte
/Proteus/Last Loaded Power2500_05_1.pdsprj.SUPER.Александр.workspace
/Proteus/Last Loaded Power2500_05_1R.pdsbak
/Proteus/Last Loaded Power2500_05_Mini.pdsbak
/Proteus/Last Loaded Power2500_05_MiniR.pdsbak
/Proteus/Last Loaded Power2500_05R.pdsbak
/Proteus/Last Loaded Power2500_STM_01.pdsbak
/Proteus/Power2500_01.DO
/Proteus/Power2500_01.EDF
/Proteus/Power2500_01.log
/Proteus/Power2500_01.pdsprj
/Proteus/Power2500_01.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_01.sts
/Proteus/Power2500_01R.pdsprj
/Proteus/Power2500_01R.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_01R.pdsprj.SUPER.Александр.workspace
/Proteus/Power2500_04.pdsprj
/Proteus/Power2500_04.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_04.pdsprj.SUPER.Александр.workspace
/Proteus/Power2500_05_1.pdsprj
/Proteus/Power2500_05_1.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_05_1.pdsprj.SUPER.Александр.workspace
/Proteus/Power2500_05_All.pdsprj
/Proteus/Power2500_05_All.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_05_Mini.DO
/Proteus/Power2500_05_Mini.EDF
/Proteus/Power2500_05_Mini.log
/Proteus/Power2500_05_Mini.pdsprj
/Proteus/Power2500_05_Mini.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_05_Mini.pdsprj.SUPER.Александр.workspace
/Proteus/Power2500_05_Mini.sts
/Proteus/Power2500_05_MiniR.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_05R.pdsprj.SUPER.Александр.workspace
/Proteus/Power2500_STM_01.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_05_2.pdsprj.DECIMA.moseichuk.workspace
/Proteus/Power2500_05_1R.pdsprj.DECIMA.moseichuk.workspace
/SOFT/MeandrSAMD21G18A/.vs
/SOFT/MeandrSAMD21G18A/__vm
/SOFT/MeandrSAMD21G18A/Release
